n8n/live-learning-tracker.workflow.json
{
  "name": "Live Learning Tracker",
  "nodes": [
    {
      "parameters": {
        "path": "learning-progress",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Track Progress Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        280
      ],
      "webhookId": "live-learning-progress"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\n\nconst normalize = (value) => String(value || '').toLowerCase().trim().replace(/\\s+/g, '_');\nconst alias = {\n  java: 'java_dsa',\n  dsa: 'java_dsa',\n  java_dsa: 'java_dsa',\n  dsa_java: 'java_dsa',\n  python: 'python',\n  flutter: 'flutter',\n  sql: 'sql'\n};\n\nconst courseInput = normalize(payload.course);\nconst course = alias[courseInput] || courseInput;\nconst validCourses = ['java_dsa', 'python', 'flutter', 'sql'];\n\nif (!course || !validCourses.includes(course)) {\n  return [{\n    json: {\n      ok: false,\n      error: 'Invalid course. Use one of: java dsa, python, flutter, sql.'\n    }\n  }];\n}\n\nconst status = normalize(payload.status || 'done');\nif (!['done', 'in_progress', 'skip'].includes(status)) {\n  return [{\n    json: {\n      ok: false,\n      error: 'Invalid status. Use: done, in_progress, or skip.'\n    }\n  }];\n}\n\nconst minutes = Number(payload.minutes || 0);\nconst note = String(payload.note || '').trim();\nconst now = new Date();\nconst dateKey = now.toISOString().slice(0, 10);\nconst timeKey = now.toISOString();\n\nconst staticData = getWorkflowStaticData('global');\nif (!staticData.days) staticData.days = {};\nif (!staticData.days[dateKey]) {\n  staticData.days[dateKey] = {\n    courses: {},\n    totalMinutes: 0,\n    events: []\n  };\n}\n\nconst day = staticData.days[dateKey];\nif (!day.courses[course]) {\n  day.courses[course] = { done: 0, in_progress: 0, skip: 0, minutes: 0 };\n}\n\nday.courses[course][status] += 1;\nday.courses[course].minutes += Number.isFinite(minutes) && minutes > 0 ? minutes : 0;\nday.totalMinutes += Number.isFinite(minutes) && minutes > 0 ? minutes : 0;\n\nday.events.push({\n  at: timeKey,\n  course,\n  status,\n  minutes: Number.isFinite(minutes) && minutes > 0 ? minutes : 0,\n  note\n});\n\nconst selectedCourses = ($env.SELECTED_COURSES || 'java dsa,python,flutter,sql')\n  .split(',')\n  .map((value) => normalize(value))\n  .map((value) => alias[value] || value)\n  .filter((value) => validCourses.includes(value));\n\nconst uniqueSelected = [...new Set(selectedCourses.length ? selectedCourses : validCourses)];\nconst doneCourses = uniqueSelected.filter((key) => (day.courses[key]?.done || 0) > 0);\nconst completionPercent = Math.round((doneCourses.length / uniqueSelected.length) * 100);\n\nconst labels = { java_dsa: 'Java DSA', python: 'Python', flutter: 'Flutter', sql: 'SQL' };\nconst progressLines = uniqueSelected.map((key, idx) => {\n  const stats = day.courses[key] || { done: 0, in_progress: 0, skip: 0, minutes: 0 };\n  return `${idx + 1}) ${labels[key]} -> done:${stats.done}, in_progress:${stats.in_progress}, skip:${stats.skip}, minutes:${stats.minutes}`;\n});\n\nconst message = [\n  `Live Tracker Update (${dateKey})`,\n  `Completion: ${completionPercent}% (${doneCourses.length}/${uniqueSelected.length} courses touched)`,\n  `Total Focus Minutes: ${day.totalMinutes}`,\n  '',\n  ...progressLines\n].join('\\n');\n\nreturn [{\n  json: {\n    ok: true,\n    date: dateKey,\n    updatedCourse: course,\n    status,\n    minutes: Number.isFinite(minutes) && minutes > 0 ? minutes : 0,\n    note,\n    completionPercent,\n    message\n  }\n}];"
      },
      "id": "2",
      "name": "Update Tracker State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "3",
      "name": "Return Tracker Snapshot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        280
      ]
    }
  ],
  "connections": {
    "Track Progress Webhook": {
      "main": [
        [
          {
            "node": "Update Tracker State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracker State": {
      "main": [
        [
          {
            "node": "Return Tracker Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}